@import "base";

@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese');

$border-radius : 3px;

a{
  text-decoration: none;
  color: rgb(15, 15, 15);
}

*{
  font-family: 'Kosugi Maru', sans-serif;
}

body{
  font-size: clamp(20px, calc((5 / 112) * 100vw), 40px);
}

main{
  width: 100%;
}

.navigationList{
  font-size: 2rem;
  text-align: center;
  &__closeBtn{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  &__portfolio,&__profile,&__contact,&__top{
    padding-top: 50px;
    list-style-type: none;
  }
  &__btn{
    display: inline-block;
    cursor: pointer;
  }
}

.navigationList{
  display: none;
}

.navigationList.active{
  display: inline-block;
}

.fa-times{
  cursor: pointer;
}

.closeEnclose{
  padding-right: 20px;
  padding-top: 30px;
}

.navigation{
  position: fixed;
  width: 100%;
  height: 200vh;
  background-color: rgba(248, 245, 87, 0.925);
  transform: scale(0, 1);
  transition: 0.3s;
  transform-origin: right;
}
.navigation.active {
  transform: scale(1, 1);
  text-align: center;
}


.humbuggerBtn{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  list-style: none;
  background: none;
  cursor: pointer;
}

.menuBtn{
  display: none;
}

.menuBtn.active{
  display: inline-block;
  z-index: 2;
}

.titleEnclose{
  display: flex;
  flex-wrap: nowrap;
}

.buttonEnclose{
  width: 20%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

$bgHight : 300px;

.hero__image{
  background-image: url(../images/heroImage.jpeg);
  background-size: cover;
  background-position: center;
  height: $bgHight;
  max-width: 1280px;
  z-index: 1;
  
  &--backColor{
    background: linear-gradient(to top, rgba(240, 235, 235, 0.397),
    rgba(238, 233, 233, 0.856));
    max-width: 1280px;
    height: $bgHight;
    z-index: 2;
  }
}

.hero__title{
  padding: 30px 20px;
  font-size: 1.7rem;
  width: 100%;
}

.basicStyle{
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  li{
  list-style-type: none;
  }
}

$titleSize : 1.5rem;
$titlePadding : 20px;
$textSize : 0.7rem;

.portfolio__title{
  font-size: $titleSize;
  padding-top: 60px;
}

.portfolioList{
  li{
    margin: 15px 0;
    padding: 10px;
    border:solid 1px rgb(179, 175, 175);
    border-radius:$border-radius;
  }
  h3{
  padding-bottom: 10px;
  }
}

.profile__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
}

.profileList{
  &__img{
    text-align: center;
    background-color: rgba(230, 237, 238, 0.315);
    border-radius:$border-radius;
  }
  &__img--current{
    border-radius:$border-radius;
    height: 250px;
  }
  &__aboutMe,&__workExperience{
    margin: 15px 0;

    &--index,&--name{
      margin: 5px 0;
    }
  }
}

.contact__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
}

.contactList{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

