@import url("https://fonts.googleapis.com/css?family=Oswald&display=auto");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=auto");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-size: clamp(20px, calc((5 / 112) * 100vw), 40px);
}

main {
  width: 100%;
}

html {
  background-color: #f7f4f4;
}

.navigationList {
  font-size: 2rem;
  text-align: center;
  display: none;
}

.navigationList__closeBtn {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navigationList__portfolio, .navigationList__profile, .navigationList__contact, .navigationList__top {
  padding-top: 50px;
  list-style-type: none;
}

.navigationList__btn {
  display: inline-block;
  cursor: pointer;
}

.navigationList.active {
  display: inline-block;
  color: #eef2f5;
  font-family: "Oswald", sans-serif;
}

.navigationList__btn {
  font-family: "Oswald", sans-serif;
}

.fa-times {
  cursor: pointer;
}

.closeEnclose {
  padding-right: 25px;
  padding-top: 30px;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 200vh;
  background-color: rgba(12, 12, 11, 0.925);
  color: #141313;
  transform: scale(0, 1);
  transition: 0.2s;
  transform-origin: right;
  z-index: 3;
}

.navigation.active {
  transform: scale(1, 1);
  text-align: center;
}

.navigation.wide {
  display: none;
}

.humbuggerBtn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  list-style: none;
  background: none;
  cursor: pointer;
}

.menuBtn {
  display: none;
}

.menuBtn.active {
  display: inline-block;
  z-index: 2;
}

.titleEnclose {
  display: flex;
  flex-wrap: nowrap;
}

.buttonEnclose {
  width: 20%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.hero__image {
  background-image: url(../images/heroImage.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  max-width: 1280px;
  z-index: 1;
}

.hero__image--backColor {
  background: linear-gradient(to top, rgba(207, 22, 22, 0), rgba(240, 236, 236, 0.795) 90%);
  max-width: 1280px;
  height: 300px;
  background-position: center;
  z-index: 2;
}

.hero__title {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 10px;
  width: 80%;
}

.hero__title__pc {
  display: none;
}

@keyframes line {
  0% {
    stroke-dashoffset: 1425px;
  }
  30% {
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #f00909;
  }
}

.baan__path {
  stroke: #f00909;
  stroke-width: 1px;
  fill: transparent;
  stroke-dasharray: 1425px;
  stroke-dashoffset: 1425px;
  animation: line 2s ease-in 1s forwards;
}

.portfolioSvg {
  margin: 5px 0 0 30px;
}

.portfolioSvg__path {
  stroke: #f00909;
  stroke-width: 1px;
  fill: transparent;
  stroke-dasharray: 1425px;
  stroke-dashoffset: 1425px;
  animation: line 3s ease-in 2s forwards;
}

.basicStyle {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.basicStyle li {
  list-style-type: none;
}

.portfolio__title {
  font-size: 1.5rem;
  padding-top: 30px;
  font-family: "Oswald", sans-serif;
}

.portfolioList {
  line-height: 1.2;
}

.portfolioList__minsyuku, .portfolioList__firstPortfolio, .portfolioList__Qiita, .portfolioList__comingSoon {
  margin: 15px 0;
  padding: 10px;
  border: solid 1px #b3afaf;
  border-radius: 3px;
  font-size: 0.9rem;
  color: #817e7e;
}

.portfolioList__minsyuku__title, .portfolioList__firstPortfolio__title, .portfolioList__Qiita__title, .portfolioList__comingSoon__title {
  color: #141313;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.portfolioList__minsyuku__text, .portfolioList__firstPortfolio__text, .portfolioList__Qiita__text, .portfolioList__comingSoon__text {
  font-size: 1.1rem;
  padding-top: 10px;
  color: #141313;
}

.profile__title {
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
}

.profileList {
  line-height: 1.4;
}

.profileList__img {
  text-align: center;
  height: 250px;
  background-color: rgba(230, 237, 238, 0.315);
  border-radius: 3px;
}

.profileList__img--current {
  border-radius: 3px;
  height: 250px;
}

.profileList__aboutMe, .profileList__workExperience {
  margin: 30px 0;
}

.profileList__aboutMe__index, .profileList__aboutMe__name, .profileList__workExperience__index, .profileList__workExperience__name {
  margin: 10px 0;
  color: #141313;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.profileText {
  font-size: 1.1rem;
}

.addProfile {
  display: none;
}

.footer {
  background-color: rgba(12, 12, 11, 0.925);
}

.footer li {
  list-style-type: none;
}

#iTyped {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.type {
  padding-bottom: 60px;
  text-align: center;
}

.ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.contact__title {
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
}

.contactList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.contactList__twitter, .contactList__github {
  padding-right: 10px;
  color: #eef2f5;
}

.contactList__facebook {
  color: #eef2f5;
}

.HowToContact {
  padding: 30px 0 10px 0;
}

.copyright {
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;
  color: #eef2f5;
}

.link-current {
  border-bottom: 2px solid #eef2f5;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

@keyframes currentBlack {
  0% {
    border-top: 0px solid rgba(12, 12, 11, 0.925);
  }
  20% {
    border-top: 2px solid rgba(12, 12, 11, 0.925);
  }
  40% {
    border-top: 5px solid rgba(12, 12, 11, 0.925);
  }
  80% {
    border-top: 8px solid rgba(12, 12, 11, 0.925);
  }
  100% {
    border-top: 10px solid rgba(12, 12, 11, 0.925);
  }
}

@keyframes currentWhite {
  0% {
    border-top: 0px solid #eef2f5;
  }
  20% {
    border-top: 2px solid #eef2f5;
  }
  40% {
    border-top: 5px solid #eef2f5;
  }
  80% {
    border-top: 8px solid #eef2f5;
  }
  100% {
    border-top: 10px solid #eef2f5;
  }
}

.link-current::before,
.link-current::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  border: 10px solid transparent;
}

.link-current::before {
  animation-name: currentWhite;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.link-current::after {
  margin-top: -3px;
  animation-name: currentBlack;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .profile__title, .portfolio__title, .contact__title {
    font-size: 3rem;
  }
  .hero__image {
    background-size: cover;
    background-position: center;
    z-index: 1;
    max-width: 1600px;
    height: 600px;
  }
  .hero__image--backColor {
    background: linear-gradient(to top left, rgba(240, 235, 235, 0), rgba(238, 233, 233, 0.623) 95%);
    max-width: 1600px;
    background-position: center;
    z-index: 2;
    height: 600px;
  }
  .buttonEnclose {
    display: none;
  }
  .navigationList {
    display: flex;
    z-index: 4;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }
  .navigationList__closeBtn {
    display: none;
  }
  .navigationList__portfolio, .navigationList__profile, .navigationList__contact, .navigationList__top {
    padding-top: 0;
  }
  .navigation {
    display: none;
  }
  .navigation.wide {
    display: inline-block;
    width: 100%;
    transform: scale(1, 1);
    height: 80px;
    background-color: rgba(12, 12, 11, 0.925);
    color: #eef2f5;
    z-index: 10;
  }
  .hero__title {
    display: none;
  }
  .hero__title__pc {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 10px;
    width: 80%;
  }
  @keyframes line {
    0% {
      stroke-dashoffset: 1425px;
    }
    30% {
      fill: transparent;
    }
    60% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #141313;
    }
  }
  .baanPc__path {
    stroke: #141313;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 1425px;
    stroke-dashoffset: 1425px;
    animation: line 2s ease-in 1s forwards;
  }
  .portfolioPc {
    margin: 10px 0 0 5px;
  }
  .portfolioPc__path {
    stroke: #141313;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 1425px;
    stroke-dashoffset: 1425px;
    animation: line 2s ease-in 2s forwards;
  }
  .portfolio__title {
    margin-bottom: 20px;
  }
  .portfolioList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolioList a {
    width: 45%;
    margin: 15px;
  }
  .portfolioList li {
    height: 150px;
    margin: 0;
  }
  .portfolioList__minsyuku, .portfolioList__firstPortfolio, .portfolioList__Qiita, .portfolioList__comingSoon {
    font-size: 1.1rem;
  }
  .portfolioList__minsyuku__text, .portfolioList__firstPortfolio__text, .portfolioList__Qiita__text, .portfolioList__comingSoon__text {
    font-size: 1.5rem;
  }
  .profileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profileList__aboutMe {
    width: 35%;
    margin: 0;
  }
  .profileList__img {
    width: 60%;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0);
    height: 350px;
  }
  .profileList__img--current {
    height: 350px;
  }
  .profileText {
    line-height: 2;
  }
  #iTyped {
    font-size: 3rem;
  }
  .HowToContact {
    padding: 60px 0 20px 0;
  }
  .copyright {
    padding: 20px 0;
  }
  .type {
    padding: 40px 0 200px 0;
  }
  .contactList {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .profileList__aboutMe {
    width: 45%;
  }
  .profileList__img {
    width: 45%;
  }
  .addProfile {
    display: inline;
  }
  .contactTwitter {
    font-size: 0.9rem;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.8s linear;
  }
  .contactTwitter::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    border-radius: 3px;
  }
  .contactTwitter:hover {
    color: #faf6f6;
  }
  .contactTwitter:hover::after {
    left: 0;
    background-color: #1edfec;
  }
}

.portfolioList__minsyuku, .portfolioList__firstPortfolio, .portfolioList__Qiita, .portfolioList__comingSoon {
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.8s linear;
}

.portfolioList__minsyuku::before, .portfolioList__firstPortfolio::before, .portfolioList__Qiita::before, .portfolioList__comingSoon::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 50%;
  transition: 0.4s linear;
}

.portfolioList__minsyuku::after, .portfolioList__firstPortfolio::after, .portfolioList__Qiita::after, .portfolioList__comingSoon::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  transition: 0.4s linear;
}

.portfolioList__minsyuku:hover .minsyukuWhite, .portfolioList__minsyuku:hover .firstPortfolioWhite, .portfolioList__minsyuku:hover .qiitaWhite, .portfolioList__minsyuku:hover .comingSoonWhite, .portfolioList__firstPortfolio:hover .minsyukuWhite, .portfolioList__firstPortfolio:hover .firstPortfolioWhite, .portfolioList__firstPortfolio:hover .qiitaWhite, .portfolioList__firstPortfolio:hover .comingSoonWhite, .portfolioList__Qiita:hover .minsyukuWhite, .portfolioList__Qiita:hover .firstPortfolioWhite, .portfolioList__Qiita:hover .qiitaWhite, .portfolioList__Qiita:hover .comingSoonWhite, .portfolioList__comingSoon:hover .minsyukuWhite, .portfolioList__comingSoon:hover .firstPortfolioWhite, .portfolioList__comingSoon:hover .qiitaWhite, .portfolioList__comingSoon:hover .comingSoonWhite {
  transition: 0.8s linear;
  color: #eef2f5;
}

.portfolioList__minsyuku:hover::before, .portfolioList__firstPortfolio:hover::before, .portfolioList__Qiita:hover::before, .portfolioList__comingSoon:hover::before {
  bottom: 0;
  right: 0;
  background-color: rgba(12, 12, 11, 0.925);
}

.portfolioList__minsyuku:hover::after, .portfolioList__firstPortfolio:hover::after, .portfolioList__Qiita:hover::after, .portfolioList__comingSoon:hover::after {
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 11, 0.925);
}

.buttonEnclose {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
}

.zdo_drawer_button * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_button {
  display: block;
  padding: 0;
  width: 42px;
  height: 26px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  display: block;
  width: 42px;
  height: 4px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  width: 36.77px;
  left: 8px;
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(0.7854rad) translateY(-50%);
  top: 0px;
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-0.7854rad) translateY(-50%);
  top: calc(100% - 0px);
}

.zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_text {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  font-size: 10px;
}

.zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}

/*+++ Default Button Color +++*/
.zdo_drawer_button {
  color: rgba(12, 12, 11, 0.925);
  font-family: "Oswald", sans-serif;
}

.zdo_drawer_button.active {
  color: #eef2f5;
}

.zdo_drawer_button.active.zdo_drawer_button .zdo_drawer_bar {
  background-color: #eef2f5;
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: rgba(12, 12, 11, 0.925);
}
