@import "base";

@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese');

$border-radius : 3px;

a{
  text-decoration: none;
  color: rgb(15, 15, 15);
}

*{
  font-family: 'Sawarabi Mincho', sans-serif;
}

body{
  font-size: clamp(20px, calc((5 / 112) * 100vw), 40px);
}

$titleSize : 1.5rem;
$titlePadding : 20px;
$textSize : 1.1rem;
$pickUpColor : rgb(240, 18, 18);

main{
  width: 100%;
}  

.navigationList{
  font-size: 2rem;
  text-align: center;
  &__closeBtn{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }  
  &__portfolio,&__profile,&__contact,&__top{
    padding-top: 50px;
    list-style-type: none;
  }  
  &__btn{
    display: inline-block;
    cursor: pointer;
  }  
}  

.navigationList{
  display: none;
}  

.navigationList.active{
  display: inline-block;
  color: rgb(238, 242, 245);
}  

.fa-times{
  cursor: pointer;
}

.fa-bars{
  color: $pickUpColor;
}

.closeEnclose{
  padding-right: 25px;
  padding-top: 30px;
}  

.navigation{
  position: fixed;
  width: 100%;
  height: 200vh;
  background-color: rgba(12, 12, 11, 0.925);
  transform: scale(0, 1);
  transition: 0.3s;
  transform-origin: right;
}  
.navigation.active {
  transform: scale(1, 1);
  text-align: center;
}  


.humbuggerBtn{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  list-style: none;
  background: none;
  cursor: pointer;
}  

.menuBtn{
  display: none;
}  

.menuBtn.active{
  display: inline-block;
  z-index: 2;
}  

.titleEnclose{
  display: flex;
  flex-wrap: nowrap;
}  

.buttonEnclose{
  width: 20%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}  

$bgHight : 300px;

.hero__image{
  background-image: url(../images/heroImage.jpg);
  background-size: cover;
  background-position: center;
  height: $bgHight;
  max-width: 1280px;
  z-index: 1;
}  

.hero__title{
  padding: 30px 20px;
  font-size: 1.7rem;
  width: 100%;
  color: $pickUpColor;
}  

.basicStyle{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  li{
  list-style-type: none;  
  }
}  

.portfolio__title{
  font-size: $titleSize;
  padding-top: 30px;
}

.portfolioList{
  line-height: 1.2;
  li{
    margin: 15px 0;
    padding: 10px;
    border:solid 1px rgb(179, 175, 175);
    border-radius:$border-radius;
  }
  h3{
  padding-bottom: 10px;
  color: $pickUpColor;
  }
  p{
    font-size: $textSize;
  }
}

.profile__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
}

.profileList{
  line-height: 1.4;
  &__img{
    text-align: center;
    background-color: rgba(230, 237, 238, 0.315);
    border-radius:$border-radius;
  }
  &__img--current{
    border-radius:$border-radius;
    height: 250px;
  }
  &__aboutMe,&__workExperience{
    margin: 30px 0;

    &__index,&__name{
      margin: 10px 0;
      color: $pickUpColor;
    }
  }
}

.profileText{
  font-size: $textSize;
}

.contact__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
}

.contactList{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media screen and (min-width:768px){
  .portfolioList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a{
      width: 45%;
      margin: 15px;
    }

    li{
      height: 150px;
    }
  }

    .profileList{
      display: flex;
      flex-wrap: wrap;  
      justify-content: center;

      &__img,&__aboutMe{
        width: 45%;
      }
      &__img{
        margin-right: 15px;
      }
    }


    .hero__image{
      background-size: cover;
      background-position: center;
      z-index: 1;
      max-width: 1600px;
      height: 600px;
      
      &--backColor{
        background: linear-gradient(to top, rgba(240, 235, 235, 0),
        rgba(238, 233, 233, 0));
        max-width: 1600px;
        background-position: center;
        z-index: 2;
      }
    }
    
    .profile__title,.portfolio__title,.contact__title{
      font-size: 3rem;
    }

    .hero__title{
      font-size: 4rem;
      color:rgb(240, 18, 18);
      padding: 200px 0 0 30px;
    }

    .buttonEnclose{
      display: none;
    }

    .navigationList{
      display: flex;
      z-index: 4;
      position: fixed;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      &__closeBtn{
        display: none;
      }
      &__portfolio,&__profile,&__contact,&__top{
        padding-top: 0;
      }  
    }
    
    .navigation{
      width: 100%;
      transform: scale(1, 1);
      height: 80px;
      background-color: rgba(12, 12, 11, 0.925);
      color: rgb(238, 242, 245);
    }
    
    .profileList__img{
      background-color: rgba(255, 255, 255, 0);
      &--current{
        height: 350px;
      }
    }
}