@import "base";

@import url('https://fonts.googleapis.com/css?family=Oswald&display=auto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=auto');

$border-radius : 3px;

a{
  text-decoration: none;
  color: rgb(15, 15, 15);
}

*{
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  font-size: clamp(20px, calc((5 / 112) * 100vw), 40px);
}

$titleSize : 1.5rem;
$titlePadding : 20px;
$textSize : 1.1rem;
$textSize__mini : 0.9rem;
$pickUpColor : rgb(20, 19, 19);
$englishFont: 'Oswald', sans-serif;
$bgcolorBase : rgba(12, 12, 11, 0.925);
$headFooterColor : rgb(238, 242, 245);
$titleColor:rgb(240, 9, 9);

main{
  width: 100%;
}

html{
  background-color: #f7f4f4;
}

.navigationList{
  font-size: 2rem;
  text-align: center;
  display: none;
  &__portfolio{
    padding-top: 150px;
  }
  &__profile,&__contact,&__top{
    padding-top: 50px;
    list-style-type: none;
  }
  &__btn{
    display: inline-block;
    cursor: pointer;
    font-family: $englishFont;
  }
}

.navigationList.active{
  display: inline-block;
  color: $headFooterColor;
  font-family: $englishFont;
}

.navigation{
  position: fixed;
  width: 100%;
  height: 200vh;
  background-color: $bgcolorBase;
  color: $pickUpColor;
  transform: scale(0, 1);
  transition: 0.2s;
  transform-origin: right;
  z-index: 3;
}
.navigation.active {
  transform: scale(1, 1);
  text-align: center;
}

.navigation.wide{
  display: none;
}

.titleEnclose{
  display: flex;
  flex-wrap: nowrap;
}

.buttonEnclose{
  width: 20%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
}

.zdo_drawer_button * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_button {
  display: block;
  padding: 0;
  width: 42px;
  height: 26px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  display: block;
  width: 42px;
  height: 4px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  width: 36.77px;
  left: 8px
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(0.7853981633974483rad) translateY(-50%);
  top: 0px
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-0.7853981633974483rad) translateY(-50%);
  top: calc(100% - 0px)
}

.zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_text {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  font-size: 10px;
}

.zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}

  .zdo_drawer_button {
  color: $bgcolorBase;
  font-family: $englishFont;
}

.zdo_drawer_button.active{
  color: $headFooterColor;
  &.zdo_drawer_button .zdo_drawer_bar {
  background-color: $headFooterColor;
  }
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: $bgcolorBase;
}

$bgHight : 300px;

.hero__image{
  background-image: url(../images/heroImage.jpg);
  background-size: cover;
  background-position: center;
  height: $bgHight;
  max-width: 1280px;
  z-index: 1;
  &--backColor{
    background: linear-gradient(to top,rgba(207, 22, 22, 0), 
    rgba(240, 236, 236, 0.795) 90%);
    max-width: 1280px;
    height: $bgHight;
    background-position: center;
    z-index: 2;
  }
}

.hero__title{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 10px;
  width: 80%;
  &__pc{
    display: none;
  }
}

@keyframes line{
0%{stroke-dashoffset:1425px;}
30%{fill:transparent;}
60%{stroke-dashoffset:0;}
100%{stroke-dashoffset:0; fill:$titleColor;}
}

.baan{
  &__path{stroke:$titleColor;
    stroke-width:1px; fill:transparent;
    stroke-dasharray:1425px;
    stroke-dashoffset:1425px;
    animation:line 2s ease-in 1s forwards;
  }
}

.portfolioSvg{
  margin: 5px 0 0 30px;
  &__path{stroke:$titleColor;
    stroke-width:1px; fill:transparent;
    stroke-dasharray:1425px;
    stroke-dashoffset:1425px;
    animation:line 3s ease-in 2s forwards;
  }
}

.basicStyle{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  li{
  list-style-type: none;  
  }
}

.portfolio__title{
  font-size: $titleSize;
  padding-top: 30px;
  font-family: $englishFont;
}

.portfolioList{
  line-height: 1.2;
  &__minsyuku,&__firstPortfolio,&__Qiita,&__comingSoon{
    margin: 15px 0;
    padding: 10px;
    border:solid 1px rgb(179, 175, 175);
    border-radius:$border-radius;
    font-size: $textSize__mini;
    color: rgb(129, 126, 126);
  }
  &__minsyuku__title,&__firstPortfolio__title,&__Qiita__title,&__comingSoon__title{
  color: $pickUpColor;
  font-family: $englishFont;
  font-size: $titleSize;
  padding-bottom: 5px;
  }
  &__minsyuku__text,&__firstPortfolio__text,&__Qiita__text,&__comingSoon__text{
    font-size: $textSize;
    padding-top: 10px;
    color: $pickUpColor;
  }
}

.portfolioList__minsyuku,.portfolioList__firstPortfolio,.portfolioList__Qiita{
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.8s linear;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -100%;
    right: 0;
    width: 100%;
    height: 50%;
    transition: 0.4s linear;
  }
  &::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    transition: 0.4s linear;
  }
  &:hover{
    .minsyukuWhite,.firstPortfolioWhite,.qiitaWhite{
    transition: 0.8s linear;
    color: $headFooterColor;
  }

    &::before{
      bottom: 0;
      right: 0;
      background-color: $bgcolorBase;
    }
    &::after{
      top: 0;
      left: 0;
      background-color: $bgcolorBase;
    }
  }
}

.profile__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
  font-family: $englishFont;
}

.profileList{
  line-height: 1.4;
  &__img{
    text-align: center;
    height: 250px;
    background-color: rgba(230, 237, 238, 0.315);
    border-radius:$border-radius;
  }
  &__img--current{
    border-radius:$border-radius;
    height: 250px;
  }
  &__aboutMe,&__workExperience{
    margin: 30px 0;
    &__index,&__name{
      margin: 10px 0;
      color: $pickUpColor;
      font-family: $englishFont;
      font-size: $titleSize;
      font-weight: bold;
    }
  }
}

.profileText{
  font-size: $textSize;
}

.addProfile{
  display: none;
}

.footer{
  background-color: $bgcolorBase;
  li{
  list-style-type: none;  
  }
}

#iTyped{
  font-family: $englishFont;
  font-size: $titleSize;
}

.type{
  padding-bottom: 60px;
  text-align: center;
}

.ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
      opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
      opacity: 0;
  }
}

.contact__title{
  font-size: $titleSize;
  padding-bottom: $titlePadding;
  font-family: $englishFont;
}

.contactList{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &__twitter,&__github{
    padding-right: 10px;
    color: $headFooterColor;
  }
  &__facebook{
    color: $headFooterColor;
  }
}

.HowToContact{
  padding: 30px 0 10px 0;
}

.copyright{
  text-align: center;
  padding: 5px 0;
  font-size: $textSize__mini;
  color: $headFooterColor;
}

.link-current {
  border-bottom: 2px solid $headFooterColor;
  position: relative;
  display: inline-block;
  padding-bottom:2px;
}

@keyframes currentBlack{
  0%{border-top: 0px solid $bgcolorBase;}
  20%{border-top: 2px solid $bgcolorBase;}
  40%{border-top: 5px solid $bgcolorBase;}
  80%{border-top: 8px solid $bgcolorBase;}
  100%{border-top: 10px solid $bgcolorBase;}
}

@keyframes currentWhite{
  0%{border-top: 0px solid $headFooterColor;}
  20%{border-top: 2px solid $headFooterColor;}
  40%{border-top: 5px solid $headFooterColor;}
  80%{border-top: 8px solid $headFooterColor;}
  100%{border-top: 10px solid $headFooterColor;}
}

.link-current::before,
.link-current::after {
  position: absolute;
  top: 100%;
  left:50%;
  transform:translateX(-50%);
  content: '';
  border: 10px solid transparent;
}

.link-current::before {
  animation-name: currentWhite;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.link-current::after {
  margin-top: -3px;
  animation-name: currentBlack;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@media screen and (min-width:768px){

  .profile__title,.portfolio__title,.contact__title{
    font-size: 3rem;
  }

  .hero__image{
    background-size: cover;
    background-position: center;
    z-index: 1;
    max-width: 1600px;
    height: 600px;
    &--backColor{
      background: linear-gradient(to top left, rgba(240, 235, 235, 0),
      rgba(238, 233, 233, 0.623) 95%);
      max-width: 1600px;
      background-position: center;
      z-index: 2;
      height: 600px;
    }
  }

  .buttonEnclose{
    display: none;
    }

  .navigationList{
    display: flex;
    z-index: 4;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    &__closeBtn{
      display: none;
    }
    &__portfolio,&__profile,&__contact,&__top{
      padding-top: 0;
    }  
  }

  .navigation{
    display: none;
  }

  .navigation.wide{
    display: inline-block;
    width: 100%;
    transform: scale(1, 1);
    height: 80px;
    background-color: $bgcolorBase;
    color: $headFooterColor;
    z-index: 10;
  }

  .hero__title{
    display: none;
  }

  .hero__title__pc{
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 10px;
    width: 80%;
    }
  
  @keyframes line{
  0%{stroke-dashoffset:1425px;}
  30%{fill:transparent;}
  60%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:0;fill:$pickUpColor;}
  }
  
  .baanPc__path{
  stroke:$pickUpColor;
  stroke-width:1px;
  fill:transparent;
  stroke-dasharray:1425px;
  stroke-dashoffset:1425px;
  animation:line 2s ease-in 1s forwards;
  }
  
  .portfolioPc{
  margin: 10px 0 0 5px;
  &__path{
  stroke:$pickUpColor;
  stroke-width:1px;
  fill:transparent;
  stroke-dasharray:1425px;
  stroke-dashoffset:1425px;
  animation:line 2s ease-in 2s forwards;
  }
}

  .portfolio__title{
    margin-bottom: 20px;
  }

  .portfolioList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
      width: 45%;
      margin: 15px;
    }
    li{
      height: 150px;
      margin: 0;
    }
    &__minsyuku,&__firstPortfolio,&__Qiita,&__comingSoon{
      font-size: $textSize;
    }
    &__minsyuku__text,&__firstPortfolio__text,&__Qiita__text,&__comingSoon__text{
      font-size: $titleSize;
    }
  }

  .profileList{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    &__aboutMe{
      width: 35%;
      margin: 0;
    }
    &__img{
      width: 60%;
      margin-right: 15px;
      background-color: rgba(255, 255, 255, 0);
      height: 350px;
      &--current{
        height: 350px;
      }  
    }
    }

    .profileText{
      line-height: 2;
    }

    #iTyped{
      font-size: 3rem;
    }

    .HowToContact{
      padding: 60px 0 20px 0;
    }

    .copyright{
      padding: 20px 0;
    }

    .type{
      padding: 40px 0 200px 0;
    }

    .contactList{
      font-size: 1.5rem;
    }

  }

@media screen and (min-width:992px){
  .profileList{  
    &__aboutMe{
      width: 45%;
    }
    &__img{
      width: 45%;
    }
  }

  .addProfile{
    display: inline;
  }

  .contactTwitter {
  font-size: $textSize__mini;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.8s linear;
    &::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    border-radius: $border-radius;
    }
    &:hover{
    color: #faf6f6;
      &::after{
      left: 0;
      background-color: rgb(30, 223, 236);
      }
    }
  }
}